<%- include('../partials/head')%>

<link rel="stylesheet" href="/css/career.css">
</head>

<body>

    <%- include('../partials/navbar')%>

    <div class="container">
        <h1>Teaching Career</h1>
        <div class="row">
            <div class="col-md-8">
                <p class="lead">I spent the last 5 years teaching eighth grade algebra and pre-algebra at Goshen Junior
                    High School (previously Goshen Middle School) in Goshen, IN. I loved working with my students and
                    coworkers and enjoyed the chance to solve math problems every single day.</p>
            </div>
            <div class="col-md-4">
                <img src="/imgs/gjh.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <hr>
        <div class="row">
            <h2>Collaboration</h2>
            <p>I worked daily with both my core content team and the eighth grade math team. Our core content team (a
                math, english, science, and social studies teacher who share a team of about 120 students, plus a school
                counselor and other relevant support) met daily to
                plan logistics around scheduling and testing and to support students' social emotional needs. These
                meetings often involved students and parents as well, and required clear communication between a lot of
                different parties. I worked on the same core team for all five years and we became incredibly close and
                highly effective at meeting student needs. </p>
            <p>I shared a common prep period with the other eighth grade math teachers, which we used to delegate the
                planning of different lessons and share resources. We also designed common assessments together and then
                went over the data from those assessments to plan remediation for standards that students struggled
                with. </p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img src="/imgs/girls.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4">
                <img src="/imgs/awards.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-sm-4">
                <img src="/imgs/lastday.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <h2>Student Success</h2>
            <p>My favorite part of teaching was connecting with my students and seeing their growth throughout the
                school year. While standardized testing was definitely frustrating, I loved having numerical data to
                help show students how much they had learned. In my second year of teaching I was recognized for scoring
                a 5 (the highest possible score) for iLearn growth, meaning that over 85% of my students grew by at
                least one school year on the state test. I also enjoyed seeing their personal growth as they prepared to
                go to high school.</p>
            <p>In addition to teaching, I co-sponsored a Girls in STEM club with one of my coworkers. We took this group
                of girls to conferences around the area focused on science and engineering. We also met weekly during
                lunch so that the girls could work on homework together and talk about the challenges of being a
                minority in the STEM fields.</p>

        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="/imgs/roa.jpg" alt="" class="img-fluid">
            </div>

            <div class="col-md-8">
                <h2>Teaching Online</h2>
                <p>When the pandemic hit, we finished out the 2020 school year with online "teaching," which was mainly
                    focused on connecting with students and making sure they were staying connected to their peers.
                    Academic
                    standards were put on hold during that time. However, I chose to teach fully online again during the
                    2020-2021 school year, when academics were once again the focus. This was a huge learning experience
                    and
                    required a lot of adaptation, but my students ended up performing on par with in-person students on
                    standardized tests. I reworked all of my lessons and assignments into Desmos activities and found
                    new
                    ways to track student learning and engagement when I couldn't walk around and see their notebooks.
                </p>
            </div>



        </div>
    </div>



    <%- include('../partials/footer')%>