<%- include('../partials/head')%>

<link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <%- include('../partials/navbar')%>


    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="imgs/monstera.avif" class="d-block w-100" alt="...">
                <div class="carousel-caption" id="first-cap">
                    <h3><span>First Slide</span></h3>
                    <p class="d-none d-md-block"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
                        magnam
                        animi dolorum rem ipsa vel
                        velit ex vitae voluptates earum deserunt quaerat iusto, deleniti cum modi hic aspernatur illum
                        accusamus.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="imgs/sunflower.avif" class="d-block w-100" alt="...">
                <div class="carousel-caption" id="second-cap">
                    <h3><span>Second Slide</span></h3>
                    <p class="d-none d-md-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi magnam
                        animi dolorum rem ipsa vel
                        velit ex vitae voluptates earum deserunt quaerat iusto, deleniti cum modi hic aspernatur illum
                        accusamus.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="imgs/succulents.avif" class="d-block w-100" alt="...">
                <div class="carousel-caption" id="third-cap">
                    <h3><span>Third Slide</span></h3>
                    <p class="d-none d-md-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
                        magnam animi dolorum rem ipsa
                        vel
                        velit ex vitae voluptates earum deserunt quaerat iusto, deleniti cum modi hic aspernatur
                        illum
                        accusamus.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="imgs/cacti.avif" class="d-block w-100" alt="...">
                <div class="carousel-caption" id="fourth-cap">
                    <h3><span>Fourth Slide</span></h3>
                    <p class="d-none d-md-block">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Sequi magnam animi dolorum rem
                        ipsa vel
                        velit ex vitae voluptates earum deserunt quaerat iusto, deleniti cum modi hic aspernatur
                        illum
                        accusamus.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <section class="container-fluid bio">
        <h1 class="name" id="name">Leah Landes Biddle</h1>
        <p>I am a former eighth grade math teacher working on becoming a software developer. Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Aperiam doloribus, impedit repellat nihil numquam consequatur dolorum illo
            illum, animi nesciunt quibusdam odio pariatur harum voluptatibus quod, non reprehenderit cumque! Dolorem.
            Adipisci architecto amet placeat ipsa exercitationem nobis delectus illum iusto iste. Quia quas, adipisci
            ratione neque fugiat repudiandae numquam provident laudantium soluta cupiditate iure et nesciunt?
            Perspiciatis quasi unde nemo?
            Eveniet aspernatur sunt dicta laboriosam ut esse, libero modi aut dignissimos, dolore, nobis facere commodi
            est!
        </p>
    </section>

    <section class="container-fluid details">
        <div class="row">
            <div class="col-md-6 col-xl-3 image family">
                <img src="imgs/family.jpg" alt="">
            </div>
            <div class="col-md-6 col-xl-3 family">
                <div class="text">
                    <h3>Family</h3>
                    <p>My husband Sawyer and I have loved becoming parents to our sweet Hadley Susannah, born March
                        2022. She has filled our lives with joy, giggles, and lots of naps.
                    </p>
                    <a href="/not_found"><button>Learn More</button></a>
                </div>

            </div>
            <div class="col-md-6 col-xl-3 order-2 order-md-1 order-xl-2 goshen">
                <div class="text">
                    <h3>Goshen</h3>
                    <p>Sawyer and I both graduated from Goshen College in Goshen, Indiana and have stayed in the area.
                        Recently, my parents and sister Katie (who graduated from GC in 2022) have also moved here.
                    </p>
                    <a href="/not_found"><button>Learn More</button></a>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 order-1 order-md-2 order-xl-1 image goshen">
                <img src="imgs/grad.jpg" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xl-3 image order-xl-2 zelda">
                <img src="imgs/zelda.jpg" alt="">
            </div>
            <div class="col-md-6 col-xl-3 order-xl-1 zelda">
                <div class="text">
                    <h3>Zelda</h3>
                    <p>While she has felt neglected since Hadley joined the family, we still have lots of love for our
                        dog Zelda. She's a four year old lemon-beagle jack russel mix who keeps us active thanks to her
                        passion for walks.
                    </p>
                    <a href="/not_found"><button>Learn More</button></a>
                </div>
            </div>

            <div class="col-md-6 col-xl-3 order-2 order-md-1 order-xl-3 plants">
                <div class="text">
                    <h3>Plants</h3>
                    <p>When I'm not busy spending time with the people I love, I enjoy caring for my vast collection of
                        houseplants. Our house often feels like a jungle, much to my husband's chagrin.
                    </p>
                    <a href="/not_found"><button>Learn More</button></a>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 order-1 order-md-2 order-xl-4 image plants">
                <img src="imgs/plants.jpg" alt="">
            </div>
        </div>
        </div>


    </section>


    <%- include('../partials/footer')%>