<%- include('../partials/head')%>


</head>

<body>

    <%- include('../partials/navbar')%>
    <section class="container mainContent">
        <h1>Sorry, page not found!</h1>
    </section>



    <%- include('../partials/footer')%>